<ion-view view-title="Alerts">
  <ion-content class="padding">

    <div class="card">
      <div class="item item-divider item-balanced">
        Fire Status:
      </div>
      <div class="item item-text-wrap item-icon-left">
        <i class="icon ion-fireball"></i>
        Patient is not in immediate heat danger
      </div>
    </div>

    <div class="card">
      <div class="item item-divider item-balanced">
        Fall Status:
      </div>
      <div class="item item-text-wrap item-icon-left">
        <i class="icon ion-arrow-graph-down-right"></i>
        Patient has not experienced any falls
      </div>
    </div>

    <div class="card">
      <div class="item item-divider item-balanced">
        Help Status:
      </div>
      <div class="item item-text-wrap item-icon-left">
        <i class="icon ion-alert-circled"></i>
        Patient has not requested help
      </div>
    </div>

  </ion-content>
</ion-view>
