<ion-view view-title="Events">
  <ion-content class="padding">

    <button class="button button-block button-positive" ng-click="openModal()">
      Add Contact
    </button>
    <div class="list card">
      <div class="item item-avatar" ng-repeat="person in family">
        <img src="img/contact.jpg">
        <h2>{{ person.name }}</h2>
        <p>{{ person.desc }}</p>
      </div>
    </div>

    <script id="addFamily.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">New Contact</h1>
          <button class="button button-clear button-primary" ng-click="closeModal()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding">
          <div class="list">
            <label class="item item-input">
              <span class="input-label">Name</span>
              <input ng-model="newUser.name" type="text">
            </label>
            <label class="item item-input">
              <span class="input-label">Description</span>
              <input ng-model="newUser.desc" type="text">
            </label>
            <button class="button button-full button-positive" ng-click="createContact(newUser)">Create</button>
          </div>
        </ion-content>
      </ion-modal-view>
    </script>

  </ion-content>
</ion-view>
