<ion-view view-title="Family and Friends">
  <ion-content class="padding">

    <div class="row">
      <button class="button button-block button-positive col" style="margin-right: 5px;" ng-click="openModal()">
        Add Contact
      </button>
      <button class="button button-block button-assertive col" ng-click="showDelete = !showDelete" style="margin-left: 5px;">
        Delete Contact
      </button>
    </div>

    <ion-list show-delete="showDelete" class="list card">
      <ion-item class="item item-avatar" ng-repeat="person in family">
        <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(person)">
        </ion-delete-button>
        <img src="img/contact.jpg">
        <h2>{{ person.name }}</h2>
        <p>{{ person.desc }}</p>
      </ion-item>
    </ion-list>

    <script id="addFamily.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">New Contact</h1>
          <button class="button button-clear button-primary" ng-click="closeModal()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding">
          <div class="list">
            <label class="item item-input">
              <span class="input-label">Name</span>
              <input ng-model="newUser.name" type="text">
            </label>
            <label class="item item-input">
              <span class="input-label">Description</span>
              <input ng-model="newUser.desc" type="text">
            </label>
            <button class="button button-full button-positive" ng-click="createContact(newUser)">Create</button>
          </div>
        </ion-content>
      </ion-modal-view>
    </script>

  </ion-content>
</ion-view>
