<ion-view view-title="Personal">
  <ion-content class="padding">

    <div class="card">
      <div class="item item-divider item-positive">
        Patient Info:
      </div>
      <div class="item item-text-wrap item-icon-left">
        <i class="icon ion-android-contact"></i>
        Patient's name is Jeff Zhao. He is 95 years old and used to play professional league of legends until he suffered a career-ending injury.
      </div>
    </div>

    <div class="card">
      <div class="item item-divider item-positive">
        Travel:
      </div>
      <div class="item item-text-wrap item-icon-left">
        <i class="icon ion-earth"></i>
        Great Wall of China, New York
      </div>
    </div>

    <div class="card">
      <div class="item item-divider item-balanced">
        Likes:
      </div>
      <div class="item item-text-wrap item-icon-left">
        <i class="icon ion-plus-circled"></i>
        Magic tricks, Fishing
      </div>
    </div>

    <div class="card">
      <div class="item item-divider item-assertive">
        Dislikes:
      </div>
      <div class="item item-text-wrap item-icon-left">
        <i class="icon ion-minus-circled"></i>
        Team Solo Mid, Baked potatoes, Teemo
      </div>
    </div>

  </ion-content>
</ion-view>
